
.homeScreen_dashboard { 
    display: flex; 
    flex-direction: row; 
    background-color: rgb(17 17 17 / var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
    min-height: 100vh;
    margin: auto;
    padding: 10px;
} 

.homescreen_dashboard_left {   
    text-align: right; 
    color: white;
    padding: 0px 20px;
    border: 1px solid #5A5A5A;
    background-color: #1E1E1E;
  
} 

.navbar{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
}
.drawer{
    display: flex;
    flex-direction: row;
    padding: 0px 56px;
    width: 100%;

}
.heading_drawer{
    display: flex;
    flex-direction: row;
}
.first_buttom{
    display:flex;
     justify-Content:flex-start;
     margin-top:56px;
    align-Items:center;
    cursor: pointer;
}
.addnew_file{
    border: 1px dotted;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}
.Upload_file{
    padding: 20px;
    border: 3px dotted #F4F4F4;
    width: 100%;
    max-width: 640px;
    border-radius: 25px;
}
.upload-section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0px 10px;
    margin-bottom: 20px;
  
 
}
.main_content_file{
  
    align-items: center;
}
@media only screen and (max-width: 914px) {
    .homeScreen_dashboard{
        flex-wrap: wrap;
    }
    #check_response{
        flex: none;

    }
    .homescreen_dashboard_left{
        width: 100%;
        margin-bottom: 10px;
    }
  }

#hamburger-menu{
    display: none !important;
}
.hamburger-button {
    /* background-color: #333; */
    color: white;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
 }

 .nav-links {
    display: none;
    background-color: #333;
    color: white;
 }
 .nav-links a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
 }
 .nav-links a:hover {
    background-color: #111;
 }
  
  @media only screen and (max-width: 594px) {
    .navbar{
        display: none !important;
    }
    .nav-links.open {
        display: block !important;
      }
      
#hamburger-menu{
    display: block !important;
}
  }

  .MuiModal-backdrop {
    background-color: transparent !important;
}