:root { 
--white_A700_3f:#ffffff3f; 
--blue_A400:#1877f2; 
--red_900:#b70606; 
--light_green_A700:#78b509; 
--light_green_A200:#baef58; 
--blue_A200:#4285f4; 
--red_500:#ea4335; 
--black_900_3f:#0000003f; 
--yellow_400_cc:#ffe15dcc; 
--yellow_400_99:#ffe15d99; 
--green_600:#34a853; 
--yellow_400:#ffe15d; 
--light_green_A200_3f:#baef583f; 
--blue_gray_900:#2c2c2c; 
--gray_700:#545454; 
--gray_500:#989898; 
--blue_gray_100:#d9d9d9; 
--amber_400:#f9d326; 
--amber_500:#fbbc04; 
--gray_900:#111111; 
--gray_900_01:#1e1e1e; 
--amber_300:#f3de53; 
--gray_300:#e0ddd6; 
--gray_300_01:#dbdbde; 
--gray_100:#f4f4f4; 
--black_900_cc:#000000cc; 
--white_A700:#ffffff; 
--gray_700_01:#5a5a5a; 
}