

@media only screen and (max-width: 671px) {
  .MuiBox-root {
    width: 440px !important;
    height: 340px !important;
  }
}
@media only screen and (max-width: 480px) {
  .MuiBox-root {
    width: 340px !important;
    height: 240px !important;
  }
}
@media only screen and (max-width: 378px) {
  .MuiBox-root {
    width: 270px !important;
    height: 180px !important;
  }
}
@media only screen and (max-width: 314px) {
  .MuiBox-root {
    width: 250px !important;
    height: 150px !important;
  }
}